[2017-12-15 15:16] thischrisoliver opened #1 "Not showing in plugin menu"
After installing the plugin, it doesn't show in the plugin menu or the preferences window for me. I'm running Sketch 48.1.

[2017-12-27 13:19] chrispantazis opened #2 "Not working :("
Hi there,
I saw this amazing plugin and wanted to try it right away. Unfortunately is not working for me :(
I'm using sketch 48.2 on a latest Mac Os environment,  I've also tried uninstalling all other plugin except chart (it doesn't produce any errors its just that after I select the rectangle and use the plugin - tried with all charts - the rectangle stays selected but nothing else.
Regards

[2017-12-28 19:58] pmorrow commented on #2
Looks like you have to remove the rectangle's fill to see the charts?

[2017-12-29 07:51] chrispantazis commented on #2
Even if I do the charts are not showing.

[2017-12-29 11:40] pavelkuligin commented on #2
@chrispantazis Please, see new explanation GIF on the Readme page.
If this doesn't work, send me your workflow screencast by email: pavel.kuligin@behavox.com

[2017-12-29 11:41] pavelkuligin commented on #1
@thischrisoliver It is really strange... You can Install Chart with sketchpacks: https://sketchpacks.com/pavelkuligin/chart

[2017-12-29 13:23] chrispantazis commented on #2
Nothing wrong with the plugin, my mistake that I didn't create a art-board to add my rectangles on.

[2017-12-29 13:23] #2 closed

[2017-12-29 16:14] GOBsNotOnBoard commented on #1
I normally install plugins via Sketch Runner, but since Chart wasn't listed in Runner for installation, I tried installing manually.

I just tried again, and there were two plugin files inside the zip file: Chart.sketchplugin and chArt-1.sketchplugin. If I double-click Chart.sketchplugin, it doesn't show in the menu. If I double-click chArt-1.sketchplugin, it shows in the menu, but only Line chart

[2018-01-02 18:12] HYPD opened #3 "Using google sheets"
Hey! Love you work! I can't seem to figure out how to import data from a google sheet. I can't seem to find the section to place the google sheets URL. Do you have instructions for this?

[2018-01-03 08:40] pavelkuligin commented on #3
Hi Dan! Please, see attached explanation GIF.
![chart-table](https://user-images.githubusercontent.com/27766810/34513727-c7ea21be-f07a-11e7-88d5-28ffdbdab353.gif)

[2018-01-03 14:35] norm0 opened #4 "Sketch Runner?"
I would love to see this available in sketch runner

[2018-01-04 13:26] #3 closed

[2018-01-09 12:29] pavelkuligin commented on #4
Done :-)
![2018-01-09_15-29-24](https://user-images.githubusercontent.com/27766810/34720978-ed534dd2-f551-11e7-86e8-03a1fc71d067.png)

[2018-01-09 12:29] #4 closed

[2018-01-17 16:30] florianpnn opened #5 "Line chart not working with negative valies"
I noticed that the line chart wasn't working with negative values, it renders a flat line (I didn't try any other type of chart)

I used a work-around that might help you to solve the issue, I used the absolute numbers and then flip the line vertically to get it right.

[2018-01-17 18:25] pavelkuligin commented on #5
Thanks, Florian! Negative numbers will be supported in Chart 2.6

[2018-01-23 02:56] dannykansas opened #6 "Improve documentation and verbiage around usage"
I've seen quite a few posts about this plugin around the web that had the same issue I experienced: you have to copy data _to the clipboard_ in order to successfully generate a chart.

I'll be submitting a PR with some updates to usage; hopefully this will aid others who encountered the same issue of seeing "Generate Random Data" due to simply highlighting data in their canvas rather than copying

[2018-01-23 08:14] pavelkuligin commented on #6
Hi, Danny! Will wait for you PR, thanks!
I also thought about adding import data from JSON/CSV, but I'm not sure if this useful.

[2018-01-23 16:08] JetPack33 commented on #1
I am having the same issue, running 48.2

[2018-01-23 16:23] pavelkuligin commented on #1
@JetPack33 How did you install Chart? Please, describe your workflow.

[2018-01-23 19:34] JetPack33 commented on #1
Hi!
Download zip folder > opened > double clicked on the file titled Chart.sketchplugin.
Checked Sketch, plugin did not show up in the Plugin dropdown list or Manage Plugins...

I have tested other plugins using the same installation method. So far this has been the only plugin I am having issues with using this installation method.

[2018-01-24 12:01] pavelkuligin commented on #1
@JetPack33 Can you download ZIP now and try to install Chart again?
And one more thing, can you send me list of files in extracted ZIP?
There must be:
appcast.xml
Chart.sketchplugin
[folder] images
LICENSE
Readme.md

[2018-01-24 20:49] JetPack33 commented on #1
It worked :)  Thank you!

[2018-01-25 08:57] #1 closed

[2018-01-27 08:12] pavelkuligin commented on #5
@florianpnn Pls, update Chart and enjoy negative values :-)

[2018-01-27 13:06] florianpeninon commented on #5
Thanks!
Keep up the good work!

[2018-01-27 13:06] #5 closed

[2018-01-29 19:44] thischrisoliver opened #7 "Can't update to version 2.6"
Sketch is showing me that version 2.6 is available for updating, but if I click the Update button in the preferences, nothing happens.

I checked Sketch Runner, but it's actually showing that 2.5 is the latest version with no update available.

I tried downloading the zip and manually installing the plugin, but then I got a warning asking if I wanted to replace version 2.5 with 2.5, which doesn't

[2018-01-30 08:32] pavelkuligin commented on #7
Hi @thischrisoliver! It was my mistake... Chart is already fixed and you can download version 2.7 or use Sketchpacks. Thank you for your immediate feedback!

[2018-01-30 12:59] #7 closed

[2018-02-01 09:42] Shredivan opened #8 "Add highcharts to graph list"
Feature request for highcharts support https://www.highcharts.com/demo so designs can align with what is possible in development

[2018-02-10 09:59] luxlogica opened #9 "[Feature Request] Ability to Set Preferences via User Interface (Dialog)"
...instead of having to manually edit the JS file directly.

Extra bonus: ability to save and load different sets of preferences! ;-)

[2018-02-12 12:01] pavelkuligin commented on #8
@Shredivan Examples added to README

[2018-03-05 15:08] thischrisoliver opened #12 "red variable is blue"
The red variable in parameters.js is currently set to `48,176,246` which is a cyan-blue, not red.

[2018-03-30 18:30] NerdCowboy opened #13 "[Feature Request] Vertical/Horizontal Axis & Grid Lines"
It's easy enough to add in, but just thought I'd throw up a request to add horizontal/vertical axis and grid lines for line, area, stacked area, stream, scatter, vert/horiz bar, and scatter graphs.

Loving the plugin, keep up the good work!

[2018-04-04 02:15] waltzaround opened #14 "Can't generate charts on Sketch 49.2"
Seems like the plugin is broken on Sketch 49.2

To reproduce:

1. Try to create a chart from the plugin dropdown
2. Modal does not appear on any of the chart options
3. Some charts will generate a graph with no line

Running macOS 10.13.3 and Sketch 49.2

[2018-04-04 22:41] waltzaround commented on #14
Scratch that, seems to be working again

[2018-04-04 22:41] #14 closed

[2018-04-06 18:03] rayshan opened #15 "Parse clipboard data by stripping non-numerical characters"
Hi, thanks for this plugin, very handy!

I ran into this issue: copying formatted data from Google Sheets sometimes doesn't behave well. E.g.:

Numbers with commas result in a weird looking chart:

2,692 | 2,789 | 3,001 | 3,149 | 3,489
-- | -- | -- | -- | --

![screen shot 2018-04-06 at 11 00 49 am](https://user-images.githubusercontent.com/3760840/38436574-d2b591d4-3989-11e8-991c-6354e50d47aa.png

[2018-04-10 07:59] ckizer opened #16 "Sparkline doesn't work."
Nothing happens when selecting sparkline.

[2018-04-20 15:48] #6 closed

[2018-04-22 16:03] ivancucer opened #17 "The plugin stopped working for no reason 🤔"
Hey @pavelkuligin

I have no idea but the plugin stopped working for no reason... I tried everything but no luck. Take a look at the attached gif below.

Sketch 49.3 (51167) on macOS 10.12.6
Chart 2.9

![issue](https://user-images.githubusercontent.com/2349195/39097065-6785ee24-4657-11e8-976d-42b880f607ff.gif)

Any ideas ?

[2018-04-23 16:06] pavelkuligin commented on #17
@ivancucer try two ways:
1. Copy — "test" to pasteboard and run LineChart
2. Copy:
25, 18, 39, 14, 0, 10
15, 10, 32, 24, 12, 15
and also run LineChart

[2018-04-23 18:35] ivancucer commented on #17
@pavelkuligin thanks for your reply. Unfortunately, I have no idea how to do that 🤔 But I've found a workaround -> rebooting macOS 🙌

[2018-05-04 00:27] angaaron commented on #16
Nor does progress and solid guage charts for me.

[2018-05-04 07:17] pavelkuligin commented on #16
@ckizer Please, try Chart 3.0. Sparkline should work well.

[2018-05-04 07:19] pavelkuligin commented on #9
@luxlogica Done in Chart 3.0

[2018-05-04 07:22] pavelkuligin commented on #15
@rayshan problems with commas. You should delete commas because I use comma as separator. it should be $2691.76

[2018-05-04 17:19] ckizer commented on #16
Wow nice!! Awesome work!

[2018-05-04 17:22] ckizer commented on #16
Okay @pavelkuligin now gauge chart doesn't work. :-)

[2018-05-04 19:03] ckizer opened #18 "v3.0 - Can't Generate Charts"
It doesn't work in sketch for me.

Screen recording:
http://kzr.me/0E0p3N29071X/Screen%20Recording%202018-05-04%20at%2012.00%20PM.gif

[2018-05-06 05:49] pavelkuligin commented on #18
@ckizer Can you send me GIF by email? Your link is broken for me.

[2018-05-06 05:54] pavelkuligin commented on #16
@ckizer Pls send me screencast of your workflow

[2018-05-07 11:12] chris-barklem commented on #18
It is broken for me also (v3). I select a rectangle > plugins > select the chart type and it draws a chart without asking for data.

[2018-05-07 12:34] pavelkuligin commented on #18
@chris-barklem Chart is a smart plugin :-) If you have numbers in Pasteboard chart will draw them.
If you want to draw chart by Random numbers, you can "cmd + C" on rectangle and then run plugin.

[2018-05-07 13:48] chris-barklem commented on #18
Thanks @pavelkuligin, I have cleared the clipboard and use the method suggested. When creating a chart with Random data: 7 categories and 24 items (eg) it creates 7 areas with the same data.

[2018-05-07 14:27] pavelkuligin commented on #18
@chris-barklem
![image](https://user-images.githubusercontent.com/27766810/39707001-c9b24fc8-521b-11e8-9a79-3ad891c2ea0a.png)

7 categories (lines)
24 items (points by x)

[2018-05-07 14:38] chris-barklem commented on #18
@pavelkuligin thanks for the reply, I get the same for line chart but nothing for stream graph (also was attempting stacked columns ...). I am trying to display % of 24 hours

`12	6	5	7	9	10	3	0	0	2	1	34	3	12	10	19	7	8	4	0	0	12	15	11

15	0	1	2	3	7	9	10	18	15	13	11	7	0	0	3	4	7	9	7	0	24	0	20

6	2	4	8	10	6	18	10	12	19	12	23	1	8	12	9	0	0	23	1	4	10	34	4

23	23	29	34	23	12	14	19	23	31	19	11	23	21	14	23

[2018-05-07 14:56] pavelkuligin commented on #18
Really strange... It works fine with 6 categories and less:
![image](https://user-images.githubusercontent.com/27766810/39708382-ae5a6cac-521f-11e8-93f1-43d503f56a7b.png)

I will investigate it.

[2018-05-07 14:58] chris-barklem commented on #18
Thanks @pavelkuligin really appreciate the feedback, I thought I might have been doing something wrong :)

[2018-05-07 21:18] ckizer commented on #18
Here is the screen recording: http://kzr.me/0E0p3N29071X

Wait I have to supply data? Shouldn't the default behavior be to just work? It seems odd that I would have to know the secret shortcut first?

[2018-05-07 21:18] ckizer commented on #18
![screen recording 2018-05-04 at 12 00 pm](https://user-images.githubusercontent.com/191738/39725686-8dd4e912-5201-11e8-8f16-2fa527ef0e88.gif)

[2018-05-08 08:51] pavelkuligin commented on #18
@chris-barklem your issue has been fixed in Chart 3.1, just update plugin.
You can use this Sheet to validate: https://docs.google.com/spreadsheets/d/1zmhLc1mPWOsxkfFquVKKjq-fyqoYZlecEA1g66n8wRg/edit?usp=sharing

[2018-05-08 08:53] pavelkuligin commented on #18
@ckizer Really strange things happened :-) What is your version of Sketch?

[2018-05-08 08:54] #16 closed

[2018-05-08 10:56] chris-barklem commented on #18
Hi @pavelkuligin, I checked the validation for version 3.1 and all is working perfectly. Thanks for your quick update on the plugin.

[2018-05-08 11:00] chris-barklem commented on #18
Hi @pavelkuligin, two questions (not issues).

Is there a way to configure the colors, the margin between columns etc.?
Is there a workflow (in your opinion) to convert charts designed in sketch over to d3?

Best regards :)

[2018-05-08 11:42] pavelkuligin commented on #18
@chris-barklem
1. Plugins > Chart > Set params. For colors use following format: [R,G,B], [R,G,B]...  Number of colors will define number of possible categories. Margin between bars will be added soon.
2. There is no way for now.

[2018-05-09 12:07] jsl15c commented on #18
@pavelkuligin This plugin does not work for me.  Most recent update of Sketch.  Following steps in "random data" section of documentation.
![test](https://user-images.githubusercontent.com/15917799/39813819-071abe1e-5360-11e8-907d-1a660dfde24b.gif)

[2018-05-09 16:05] gespinha commented on #18
Isn't working here too. When I fill in the configuration form and click "Ok", nothing happens. On the Chart Panel only some buttons work as well.

Sketch v50 with Chart v3.1.0

[2018-05-10 04:54] sneaknz commented on #18
Same for me after updating to Sketch v50 and running Chart v3.1.0 — It has worked really well for me in the past though, great plugin! Hopefully it's an easy fix to get running again.

[2018-05-10 06:39] pavelkuligin commented on #18
@jsl15c @gespinha @sneaknz
The problem is lack of compatibility between Sketch 49.3 and 50. Therefore you can roll back to the previous version of Sketch or wait for Chart 3.2, but without any ETAs.

[2018-05-10 08:30] pavelkuligin commented on #18
All bugs fixed in Chart 3.2

[2018-05-10 09:08] gespinha commented on #18
@pavelkuligin Thanks for the quick fix. Unfortunately, it still doesn't work and the same behaviour persists.

The Mac Console shows these messages when I click on any button in the Chart Panel:
[code]
and
[code]

Any clues on what might be causing this?

[2018-05-10 10:28] dpinna13 commented on #18
@pavelkuligin Updated to Chart 3.2.0 and I'm still on Sketch v49.3 - this is what I found in the console while trying to generate a stacked area chart.

`Exception: TypeError: MSPath.pathWithBezierPath is not a function. (In 'MSPath.pathWithBezierPath(area)', 'MSPath.pathWithBezierPath' is undefined)`

`TypeError: MSPath.pathWithBezierPath is not a function. (In 'MSPath.pathWithBezierPath(area)',

[2018-05-10 10:46] pavelkuligin commented on #18
@gespinha This error means that you didn't select any Rectangle to draw chart.
@dpinna13 Please, update your Sketch to v. 50. I will add version checker later.

[2018-05-10 10:58] gespinha commented on #18
@pavelkuligin Thanks, it all works now!

Is there any chance you will be adding error messages any time soon?

[2018-05-10 10:59] pavelkuligin commented on #18
@gespinha Yep, I'm working on it ;-)

[2018-05-10 11:02] gespinha commented on #18
Great!

[2018-05-10 20:51] sneaknz commented on #18
@pavelkuligin Working great for me now too, thanks for the quick fix!

[2018-05-10 22:48] jsl15c commented on #18
@pavelkuligin Incredible!  Thank you for the bug fix!  Does sketch have decent documentation for writing custom plugins?

[2018-05-11 07:36] pavelkuligin commented on #18
@jsl15c Only documentation with a few simple use cases :-)
https://developer.sketchapp.com/reference/api/
https://github.com/turbobabr/Sketch-Plugins-Cookbook

[2018-05-11 07:36] #18 closed

[2018-05-11 17:29] ckizer opened #19 "Charts still doesn't work"
Latest Sketch v5.0
Latest Charts v3.2

Here's the video. Nothing happens. Let me know how I can help.

Here is a video clip for download:
http://kzr.me/2K0u1s1B213M

[2018-05-15 00:16] Christian-Baptiste commented on #19
I have several plugins not working since installing Sketch 50. Chart being one of them.

Just in case it helps here is a list that I know of so far:

Chart
Segmented Circles (all)
Craft's Duplicate
Sketch Isometric
Sketch Material - Elevation, Chips, Forms, etc.
And counting.

[2018-05-30 04:04] waltzaround opened #20 "Stream graphs broken in Sketch 50.2"
Trying to create stream graphs in Sketch 50.2 creates broken shapes

Running on macOS 10.13.4

[2018-06-05 20:00] changecourse opened #21 "Build pie/donut chart based on order of data string"
Currently, as far as I can tell, the donut and pie chart is built based on lowest numbers entered to highest numbers, rather than the order of the string you copy... It would be really nice to have charts built based on the order, so you can have more control in instances where slices of your chart represent linear differences (e.g., a pie chart representing the number of accounts a group may have

[2018-06-06 13:42] pavelkuligin commented on #19
Compatibility with Sketch 50 was restored :-)

[2018-06-06 13:42] #19 closed

[2018-06-06 13:59] pavelkuligin commented on #20
Fixed in Chart 3.3

[2018-06-06 13:59] #20 closed

[2018-06-06 21:45] waltzaround commented on #20
Cheers @pavelkuligin!

[2018-06-08 04:27] marianneho opened #22 "Doesn't work"
It doesn't work for me -- doesn't generate any charts at all.
Sketch 50.2
Chart 3.3.0

[2018-06-08 08:18] pavelkuligin commented on #22
@marianneho pls provide screencast of your workflow

[2018-06-12 10:08] BanshaTang opened #23 "Insert Pie Chart and Donut Chart causes Sketch crash"
Hi,

I can add line chart smoothly, but when I try to add a pie chart or a donut chart, there is no chart generated and Sketch will definitely crash.

Sketch version 50.2
Chart plugin version 3.3.0
macOS version 10.13.5

Thank you

[2018-06-13 07:56] marianneho commented on #22
@pavelkuligin here you go: https://youtu.be/04YY55TFmyE

[2018-06-18 15:03] Nguma commented on #22
@pavelkuligin Hi Pavel, I have the same issue
Sketch 50.2
Chart 3.3.0
Mac osX 10.11.6

[2018-06-19 02:16] ghost commented on #22
Hi @pavelkuligin I have the same issue. Doesn't generate any charts at all, unable to set parameters.
Chart 3.3.0
Sketch 50.2
Mac osX 10.11.6

Same as @marianneho example

[2018-06-19 18:53] thejanaki commented on #22
It stopped working for me after using Set params to change the colors and point type
Chart 3.3.0
Sketch 50.2
Mac osX 10.12.6

[2018-06-20 17:30] philsinatra commented on #22
@pavelkuligin Similar issue. Every chart generated uses two random numbers, not the expected data that has been copied.

- Chart 3.3.0
- Sketch 50.2
- macOS 10.12.6

[2018-06-21 17:35] phinoda commented on #22
@pavelkuligin Same issue. No chart generated at all.
Chart 3.3.0
Sketch 50.2
Mac osX 10.11.5

[2018-06-21 17:50] thejanaki opened #24 "If selected layer is within a group, chart is created outside group"
Minor  issue - if you try to create a chart within a group in Sketch, the chart is made outside the group, and in a different position.
Sketch 50.2
Chart 3.3.0

[2018-06-21 18:42] ghost commented on #22
@philsinatra & @phinoda I updated my OX to macOS High Sierra version 10.13.5 and it fixed the issue. Also sometimes copying numbers wouldn't work from Google doc so I use text editor (Sublime in my case)

[2018-06-28 12:06] pavelkuligin commented on #22
@marianneho @Nguma @philsinatra @phinoda You should update macOS to latest version. It will fix your problems.

[2018-06-28 12:06] #22 closed

[2018-06-28 12:07] pavelkuligin commented on #23
@BanshaTang pls provide screencast of your workflow and data that you want to visualise

[2018-06-28 12:08] pavelkuligin commented on #24
@thejanaki it is the known issue and I will try to fix it later

[2018-07-03 08:04] chrleon opened #25 "Adding custom colors causes plugin to not work"
After I do Set Params and paste in the colors below and try to get a chart going, I only get a red line. There is no dialogbox asking me about data.

[181,1,23],[0,145,223],[104,8,102],[242,114,0],[31,37,50],[58,67,88],[255,255,255],[155,155,155],[242,242,242],[0,163,174],[253,211,0]

As I can see, the arrays are correct, right?

[2018-07-04 09:43] pavelkuligin commented on #25
@chrleon To see dialogbox you should clean your pasteboard. To do it select any rectangle in Sketch and press cmd + C. After that you can create any chart using data from dialogbox.

[2018-07-04 10:53] #25 closed

[2018-07-17 09:25] pavelkuligin commented on #24
I did some research about this bug and unfortunately, I can't fix it...

[2018-07-17 14:47] pavelkuligin commented on #21
@changecourse you can use Chart 3.5 and long way:
Plugins → Manage plugins → Reveal Plugins Folder → Chart.sketchplugin (right click) → Show Package Contents → Contents → Resources → params.json (open file)

Change "sortOption": "true" to "sortOption": "false"

[2018-07-17 14:47] #21 closed

[2018-07-18 09:45] florianpnn opened #26 "Scatter Plot not working on 51.1"
It seems there is a problem in the scatter plot code, see Console log extract below.

[code]

[2018-07-18 15:20] pavelkuligin commented on #26
Hi Florian! Fixed in Chart 3.6, have fun :-)

*Pavel Kuligin*
Product Designer
T: +7 921 447–98–18

On Wed, 18 Jul 2018 at 12:45, Florian Peninon <notifications@github.com>
wrote:

--

The information contained in this email, including any attachments, is
intended solely for use by the individual or entity named above and may be
confidential. If you have received this email in error please delete

[2018-07-19 04:10] camlowe opened #27 "Chart panel not working in Sketch 51.1"
When I open the chart panel I just get a blank window, as seen below.
![screenshot 2018-07-19 14 03 12](https://user-images.githubusercontent.com/8032820/42921071-39a4ccf0-8b5d-11e8-8011-2ed7cc782c15.png)

Also get this error in the console.
[code]

[2018-07-19 09:22] marcusandrew commented on #27
Yup. Same for me :( Just shows a blank window in Sketch 51 also.

[2018-07-19 09:24] pavelkuligin commented on #27
@camlowe @marcusandrew it is known issue, but I don't know how to fix it for now...

[2018-07-19 09:31] marcusandrew commented on #26
Still seems to be an issue with Scatter Plot in 51.1. (running 3.6.0). Does not create a Chart?

[2018-07-19 09:32] marcusandrew commented on #27
Thanks for the swift reply Pavel. Is it required? You can still make adjustments using the other Menu options right until a fix is found?

[2018-07-19 09:35] pavelkuligin commented on #26
If you use Scatter Plot: Bubbles — Yes in Set Params, try this data:
25, 18, 39, 14
15, 10, 32, 24
25, 25, 10, 40

If Scatter Plot: Bubbles — No, try:
25, 18, 39, 14
15, 10, 32, 24

This should work

[2018-07-19 09:36] marcusandrew commented on #26
Ok. Will give that a go :) Thanks again Pavel for such a time-saving plugin.

[2018-07-19 12:19] marcusandrew commented on #26
Works great. Many thanks.

[2018-07-21 21:35] utiq commented on #27
Same problem here

[2018-07-24 19:17] chovy opened #28 "When I try to insert a chart nothing happens"
I try to go Plugins -> Chart -> Doughnut Chart and when I enter two values, nothing appears on screen.

[2018-07-26 15:48] ralyodio commented on #27
Same problem here.

[2018-07-27 14:51] jbsellars commented on #27
+1, but can also confirm that charts can still be generated from the menu regular items.

[2018-08-02 04:35] n0mar commented on #27
Status of the plugin as of Sketch Version 51.1:

* [ ] Chart Panel
* [x] **Line Chart**
* [x] **Area Chart**
* [x] **Stacked Area chart**
* [x] **Vertical Bar chart**
* [x] **Horizontal Bar chart**
* [ ] Scatter plot
* [ ] Pie chart
* [ ] Donut chart
* [ ] Stream Graph
* [ ] Sparkline
* [ ] Progress bar
* [ ] Gauge chart
* [x] **Set params**

[2018-08-02 04:38] n0mar commented on #28
Go to #27

[2018-08-11 18:43] ivancucer commented on #27
@pavelkuligin any updates here ? 🤤

**FYI** the _workaround_ can be like this one 🙌
1. Download a _previous_ version of sketch eg. `50.2` https://download.sketchapp.com/sketch-50.2-55047.zip ⬅️
2. Unzip and _rename_ the `.app` eg. `sketch-50.2-55047` -> `sketch-50.2-55047.app` 🤓
3. Drag the app to `application` folder 📁
4. Run `50.2` along with the _current_ version of the sketch 😲 They can work *

[2018-08-14 17:10] reddolan opened #29 "Donut and Pie Chart aren't displaying slices correctly"
### Expected Behavior
chart slices should consume 100% of the radial area

![image](https://user-images.githubusercontent.com/1858226/44106742-4895ea30-9faa-11e8-8cb5-e938a14d4de2.png)

### Actual Behavior
chart slices are only taking a small portion of the radial area

![image](https://user-images.githubusercontent.com/1858226/44106655-1caca4fe-9faa-11e8-90df-a2ad817a689b.png)

### Versions
Sketc

[2018-08-24 18:48] taylorehat opened #30 "Categories Limited to 5?"
I have been trying to generate pie and vertical bar charts with more than 5 categories, and it's maxing out at 5 categories. It this by design?

Charts 3.6
Sketch 51.2

[2018-09-05 19:53] dnlswan commented on #13
I'm not sure how easy it would be to add but I'm also interested in this. It would certainly be a time-saver!

[2018-09-12 09:19] KEYIIIIII commented on #27
useful！

[2018-09-17 13:16] pavelkuligin commented on #30
For Pie charts it is true, but you can generate Vertical bar chart with more than 5 categories.
![image](https://user-images.githubusercontent.com/27766810/45625199-f7caf680-ba94-11e8-8315-637dde6c0d36.png)

[2018-09-17 13:16] #30 closed

[2018-09-17 13:19] pavelkuligin commented on #29
@reddolan You should use data in % and total should be 100%.
In your example: 2+8+5+3+1 = 16 ≠ 100

[2018-09-17 13:19] #29 closed

[2018-09-17 13:22] pavelkuligin commented on #27
Hi there! I was on a long vacation, but right now I'm ready to fix all of these staff :-)

[2018-09-20 16:24] reddolan commented on #29
😓 doh! Thank you for pointing me in the right direction on this.

[2018-09-22 10:29] pavelkuligin commented on #27
https://youtu.be/ye4PwQ8YY5A
Hi guys! I created a video to help you understand Chart's features.

[2018-09-28 06:59] KEYIIIIII commented on #27
Can't wait

Pavel Kuligin <notifications@github.com> 于2018年9月17日周一 下午9:23写道：

[2018-09-28 17:06] dlewand691 opened #31 "Better grouping of dots and lines for line chart"
I'm using a line chart and am finding that the way the layers are generated is very disorganized. Is there a way to group the related line and dots together? It would also be great if the layers were renamed more logically as well. Thanks!

[2018-09-28 18:04] berlynnbai opened #32 "Chart not working with Sketch 51.3"
Hi thanks for creating this amazing tool! Just to let you know that Chart is not working with Sketch 51.3, you have any idea?

[2018-10-01 08:51] pavelkuligin commented on #27
Guys! I spent a week to figure out how to fix Panel, but nothing helps. So I decided to remove this feature in Chart 4.0.

I will try to fix it in future, sorry...

[2018-10-01 08:51] #27 closed

[2018-10-01 08:53] pavelkuligin commented on #32
@berlynnbai can you describe your workflow? Chart works for me with 51.3

[2018-10-01 12:13] n0mar commented on #27
@pavelkuligin, I just installed version 4.0 and nothing works. I am running Sketch 51.3 on macOS Mojave Version 10.14 (18A391)

Also worth mentioning inserting a Progress Bar is absolutely killed. It When I have a 300 width box, then I go to create the Progress Bar, the length of it came out as **3,062,571.15 pixels long**.

Not to be rude or anything, but what does 4.0 actually bring?

Thank you.

[2018-10-01 12:22] pavelkuligin commented on #27
@n0mar Can you uninstall plugin and install it again?
I have the same version of Sketch and all works well.
Also you can send me screencast of your workflow or Conlose log of Skecth on mail: pavel.kuligin@behavox.com

![image](https://user-images.githubusercontent.com/27766810/46288255-d0445580-c58d-11e8-8109-fad049331eca.png)

[2018-10-03 06:04] andreiinc commented on #32
Scatter plot is not working. I don't get any feedback after I set the Categories and Items.

[2018-10-03 09:29] pavelkuligin commented on #32
@andreiinc If you see Yes in the last Dropdown in Set Params:
![image](https://user-images.githubusercontent.com/27766810/46402244-deb67c80-c707-11e8-94ff-0a79a1017a01.png)

Use Categories: 3, Items: What you want

If you see No in Set Params use Categories: 2, Items: What you want

[2018-10-03 11:38] andreiinc commented on #32
Thank you, is working on Sketch version 51.3, but on version 52 is not working anymore.

[2018-10-03 11:58] pavelkuligin commented on #32
They broken many API methods so for now, Chart doesn't support Sketch 52

[2018-10-04 04:57] camlowe commented on #27
Appreciate the effort you've put in @pavelkuligin!

[2018-10-04 17:54] n0mar opened #33 "Chart incompatible with Sketch Version 52 (66869)"
Hi!

[I saw](https://github.com/pavelkuligin/chart/issues/32#issuecomment-426610091) (and experienced) Chart is incompatible with Sketch 52 (66869), so I just opened a seperate Issue.

Thank you.

[2018-10-04 18:03] pavelkuligin commented on #33
Hi @n0mar and others!

Chart for Sketch 52 will be released in a week because I need to rewrite it for new JS API.
So I decided to charge money for all next releases of Chart. The pricing will be $10 per year. Updates every 2 weeks, new features and support.

[2018-10-04 18:04] #32 closed

[2018-10-04 18:05] #28 closed

[2018-10-05 01:17] n0mar commented on #33
@pavelkuligin sounds reasonable! Thank you for your work!

[2018-10-05 22:04] dariusgarza commented on #33
Thought i was going insane! Thanks much :D

[2018-10-07 12:16] pavelkuligin commented on #33
Hi there! Chart for Sketch 52 is available now, enjoy it :-)

[2018-10-07 12:16] #33 closed

[2018-10-08 06:04] KEYIIIIII opened #34 "I only show one chart, the others are gone."
I only show one chart, the others are gone.

sketch 51.2  macos mojave

![snipaste_2018-10-08_14-03-49](https://user-images.githubusercontent.com/43202889/46594004-fffddb00-cb02-11e8-938d-35433920d6ab.jpg)

[2018-10-08 06:06] pavelkuligin commented on #34
@KEYIIIIII Yep, Chart is paid now. You can buy the full version for $10/year or stay with a free version (line chart only). https://github.com/pavelkuligin/chart

[2018-10-08 06:06] #34 closed

[2018-10-08 06:09] KEYIIIIII commented on #34
How to pay？Can I use Alipay?

Pavel Kuligin <notifications@github.com> 于2018年10月8日周一 下午2:06写道：

[2018-10-08 06:12] pavelkuligin commented on #34
https://gumroad.com/l/sjPyY
You can use PayPal or credit card.

[2018-10-08 07:41] KEYIIIIII commented on #34
Is there a link to payment?

Pavel Kuligin <notifications@github.com> 于2018年10月8日周一 下午2:12写道：

[2018-10-08 08:03] pavelkuligin commented on #34
https://gumroad.com/l/sjPyY
You can pay here

[2018-10-08 08:03] KEYIIIIII commented on #34
ok

Pavel Kuligin <notifications@github.com> 于2018年10月8日周一 下午4:03写道：

[2018-10-08 08:04] KEYIIIIII commented on #34
Solve all the bugs?

顾思杰 <gusijielife@gmail.com> 于2018年10月8日周一 下午4:03写道：

[2018-10-08 08:06] pavelkuligin commented on #34
Yep, it works in Sketch 52 and 52.1. And new features are coming :-)
Also, you can find video tutorials here: https://github.com/pavelkuligin/chart

[2018-10-08 08:10] KEYIIIIII commented on #34
thx  I think you can open Alipay, so Chinese users will be more convenient.

Pavel Kuligin <notifications@github.com>于2018年10月8日 周一16:06写道：

[2018-10-15 07:47] WimoApp opened #35 "Suddenly stopped working"
I managed to generate couple of charts, then the plugin stopped to function, i put the same number of categories and items and i click, nothing happens

[2018-10-15 08:04] pavelkuligin commented on #35
@WimoApp can you provide more details? You can send me a screencast of your workflow by email: pavel.kuligin@behavox.com

[2018-10-30 17:50] hungrysquirrel opened #36 "Download link broken"
I paid but the link is broken!
Huge bummer.

Please fix ASAP

<img width="947" alt="2018-10-30 at 10 49 am" src="https://user-images.githubusercontent.com/232397/47739015-ab490e00-dc31-11e8-8e52-19c05889e674.png">

[2018-10-30 18:15] hungrysquirrel commented on #36
Resolved, thanks for the support Pavel!

[2018-10-30 18:15] #36 closed

[2018-11-01 03:09] alechp commented on #35
@pavelkuligin I'm also having inconsistency. Uploaded screencast here: https://goo.gl/JS2gNn

[2018-11-01 07:12] pavelkuligin commented on #35
@alechp
1. You can't select the whole Artboard, only rectangle and oval shape are allowed.
2. I think it is a bug with random data generation. I've fixed it yesterday and I will push new version with bug fixes and new features on Saturday.

[2018-11-11 18:24] alechp commented on #35
@pavelkuligin Since your latest update, haven't noticed any issues 👍 Thank you

[2018-11-12 08:31] #35 closed

[2018-11-30 23:54] jz-nbme opened #37 "Can't generate some charts in sketch 52.5 chart 4.6.0"
I purchased chart plugin and I follow the instructions on the repo to for example to generate a pie chart:
Pie Chart, Donut Chart — categories: 1, items: 5 (categories count should be equal to canvases count);
I select one canvas(circle) and enter 1 and 5 and I only get 1 piece of the pie chart?
I can produce a bar chart but all the bars are the same color  and same for most of the others.

Now th

[2018-11-30 23:59] jz-nbme opened #38 "Multiple instances of Chart Panel possible"
Not sure this is intended but I can activate chart panel (ctr+shift+c) and launch (n) number of panels.
<img width="420" alt="screenshot 2018-11-30 18 58 55" src="https://user-images.githubusercontent.com/28399204/49320852-00e33580-f4d2-11e8-876a-d8810303e3b9.png">

[2018-12-01 08:47] pavelkuligin commented on #37
@jz-nbme can you send me a screenshot of SetParams popup? It seems to me that your color palette has only one color.

[2018-12-03 15:25] jz-nbme commented on #37
![screenshot 2018-12-03 10 25 16](https://user-images.githubusercontent.com/28399204/49383020-c94cd700-f6e5-11e8-97f5-001583e97781.png)

[2018-12-03 15:46] pavelkuligin commented on #37
@jz-nbme the problem here with a number of items. You have 4 colors in your palette but you want to generate a pie chart with 5 slices. You should add more colors to the palette.
Regarding the bar chart, all bars will have the same color. You can try to create a bar chart with categories: 2 and items: 10, for example.

[2018-12-03 16:54] jz-nbme commented on #37
Yes that seems to be working now, thanks.

[2018-12-03 16:54] #37 closed

[2019-01-24 10:33] Shredivan opened #39 "Pie charts only rendering half circle regardless of data values"
![screenshot 2019-01-24 at 10 29 00](https://user-images.githubusercontent.com/14276542/51672403-4cdac400-1fc3-11e9-92aa-dde772269216.png)

Having issues with creating pie charts where half a circle renders regardless of the data that is inputted

[2019-01-25 10:41] pavelkuligin commented on #39
@Shredivan pls share your data

[2019-01-31 14:25] Shredivan commented on #39
@pavelkuligin I've tried many variations of this to ensure It wasn't the format of data I was adding to it.

![screenshot 2019-01-31 at 14 24 26](https://user-images.githubusercontent.com/14276542/52060357-eece5380-2563-11e9-8134-9d447a1932e5.png)

[2019-01-31 14:26] pavelkuligin commented on #39
@Shredivan problem could be with the color palette. Please, send me screenshot of Set Params popup

[2019-01-31 14:36] Shredivan commented on #39
@pavelkuligin Here you go.

![screenshot 2019-01-31 at 14 35 52](https://user-images.githubusercontent.com/14276542/52061122-8a13f880-2565-11e9-981c-92f741ef1f25.png)

[2019-01-31 14:37] pavelkuligin commented on #39
@Shredivan Paste this in the Colors field: ["44","126","177"],["107","192","132"],["249","212","102"],["236","104","77"],["133","100","197"]

[2019-01-31 14:40] Shredivan commented on #39
@pavelkuligin That seemed to fix it

[2019-01-31 14:41] pavelkuligin commented on #39
@Shredivan Pls read how to manage colors easily: https://medium.com/sketch-app-sources/chart-4-5-or-panel-return-history-5b47da757754

[2019-01-31 14:41] #39 closed

[2019-02-26 04:04] MintCondition opened #40 "No params dialog and "must contain 2 or more points""
Plugin was working fine, and then ceased working. Select shape, choose chart type. No dialog for number of cats or items shows up and an error message appears stating the "chart must contain 2 or more points."

Have tried uninstalling and reinstalling, as well as multiple documents.

Ideas?

[2019-02-26 08:10] pavelkuligin commented on #40
@MintCondition This notification means that plugin tried to visualize data from your pasteboard. This bug will be resolved in the next release (soon). For now, you can press CMD+C on the shape (it will clear your pasteboard).

[2019-02-26 08:36] MintCondition commented on #40
THANK YOU! No idea it was so simple. I did manage to "fix it" by restarting (which obv solved it). Next time it happens I'll just do that instead.

Kudos, you make so much of what I'm working on easier! =)

[2019-02-26 09:53] pavelkuligin commented on #40
You are welcome! :-)

[2019-02-26 09:53] #40 closed

[2019-04-09 18:01] ShaggyDude opened #41 "Very cool thanks!"
Nice plugin'

[2019-05-06 14:20] skipjack opened #42 "[Feature Request] Radar Charts"
Loving the plugin so far. I know radar charts are little more complex than some of the others but they are used somewhat commonly so I think this would be an awesome addition to the platform. Here are some examples...

- http://bl.ocks.org/nbremer/6506614
- https://dribbble.com/shots/3249998-Radar-Graph

[2019-05-06 14:54] pavelkuligin commented on #42
@skipjack Thank you for mentioning it! Radar chart isn't a big deal and I will add it definitely.

[2019-06-06 18:39] SimplyPhy opened #43 "Create Multiple Charts at a time"
<img width="655" alt="Screenshot 2019-06-06 14 37 58" src="https://user-images.githubusercontent.com/7506223/59057651-da2efe80-8868-11e9-8434-e5f0c06af97f.png">

I would love to be able to select multiple rectangles at a time to generate charts with random data.

[2019-06-06 18:42] pavelkuligin commented on #43
Hi @SimplyPhy! It is possible, but not for all Chart types. Need to think about the possibility to allow it for all types

[2019-06-06 18:42] SimplyPhy opened #44 "Press Enter to Create Chart"
It would be nice if pressing the `Enter` key resulted in the chart being generated.

[2019-06-09 01:39] #41 closed

[2019-06-10 18:27] raulfunkie opened #45 "Error while trying to use external json"
I'm getting these errors when trying to use one of the supplied (or any) external json.

I'm using "Inspect Element" on the Graph spinner window to see the console errors.

![Screen Shot 2019-06-10 at 2 25 06 PM](https://user-images.githubusercontent.com/15929687/59217397-dadad400-8b8b-11e9-9ef8-730d574d821b.png)

[2019-06-10 18:32] pavelkuligin commented on #45
Hi @raulfunkie! The error linked with your network settings (for me it works well). There is no simple answer or fix, but I will investigate possible solutions. Anyway, you can download JSON and use it as Local JSON.

[2019-06-26 16:54] SimplyPhy commented on #43
Any chance of packing this with v5.1, at least for some of the basic charts (line/bar)?  I usually need to create at least a few charts at a time for initial mockups.  I'm about to fill out a design that needs 20 of the same chart with slightly different data (same scope, different randomly generated values).  And I'll likely need to do a few versions of it.

[2019-06-26 17:59] pavelkuligin commented on #43
@SimplyPhy will do my best to deliver it in 5.1

[2019-07-17 18:03] jansemka opened #46 "Copy Paste Google Spreadsheet doesn't take all Values creates new Rows"
When I copy paste or connect via share link not all values are imported correctly instead it will create another additional row and fill it up.

I work with finance data and they need to be correct and exact.

![Bildschirmfoto 2019-07-17 um 20 02 47](https://user-images.githubusercontent.com/13254959/61399216-f42f1880-a8cd-11e9-9d99-536ba4e0e2fc.png)

[2019-07-17 18:05] pavelkuligin commented on #46
@jansemka could you pls share link to GS for testing?

[2019-07-17 19:41] #45 closed

[2019-07-17 19:42] #43 closed

[2019-07-17 20:48] janjuno commented on #46
Last Column was GP. 5 Rows. Count of digits you can see above. First Table Row. I won't share these are client data.

[2019-07-17 20:49] janjuno commented on #46
I got it running btw. I used the JSON import. I think the issue is that the plugin table isn't using endless rows, it will break at some point and fill it up.

[2019-07-18 13:23] pavelkuligin commented on #46
@jansemka Yes, you are right, there is a problem with performance and I limit the number of columns to 100. If you want to use big datasets you can use JSON, as you did.

[2019-07-21 07:37] ivancucer opened #47 "Figma"
Hey @pavelkuligin

Do you have any plans to support Figma when figma's API for `plugins` will be available ?

Unfortunately, Bohemian team moves very slow with their sketch and I really think to jump to Figma very soon.

Thanks,
Ivan

[2019-07-21 11:40] pavelkuligin commented on #47
@ivancucer Sure, I'm working on it right now and I expect that Chart will be available in August.
It will be free until the end of the year and then you can use your subscription for Chart, no need to pay twice.

[2019-07-21 11:40] #46 closed

[2019-07-21 11:42] #13 closed

[2019-07-21 11:42] #31 closed

[2019-08-16 14:02] floragreste opened #48 "Cannot install plugin on Sketch Version 57.1 (83088)"
Tried to install your plugin via Runner and it does not work. Tried via GitHub and it does not work either. I am attaching a screenshot of the unzipped files I get after unzipping the zip. Can you fix it? Thanks for your help.

<img width="243" alt="Screenshot 2019-08-16 at 14 56 18" src="https://user-images.githubusercontent.com/28628830/63172927-b2ad9c80-c036-11e9-8c87-ac22cc53d9be.png">

[2019-08-16 14:13] #47 closed

[2019-08-16 14:14] #38 closed

[2019-08-16 14:15] pavelkuligin commented on #48
@floragreste The only way to install plugin is to download it from official page: https://pavelkuligin.ru/chart/

Note: Chart is paid plugin and you need to subscribe. I will release new version with trial period at the end of month.

[2019-08-16 21:14] #48 closed

[2019-09-30 11:05] jansemka opened #49 "Coma vs. Point Values"
In Germany we would write Currency like this:

30,05 €

in English you would write:

30.05 $

I got charts now like this:
![image](https://user-images.githubusercontent.com/13254959/65873243-e5131f00-e382-11e9-9868-99fa4af9317e.png)

[2019-09-30 11:15] janjuno commented on #49
As Addition here with corrected data:
![image](https://user-images.githubusercontent.com/13254959/65873813-68814000-e384-11e9-8800-42e84daf61c9.png)

[2019-09-30 13:39] pavelkuligin commented on #49
Thanks @jansemka! I will add a feature to parse different number formats

[2019-10-10 11:29] iMomen opened #50 "The plugin stopped working"
I already purchased the plugin but after updating, it is not working
Sketch Version 58 (84663)

[2019-10-10 11:35] #50 closed

[2019-10-12 07:37] iMomen commented on #5
Hello,
I can't see the negative values working for the Vertical bar chart, Do I missed something?

![image](https://user-images.githubusercontent.com/5030329/66697210-453b8680-ecdc-11e9-9bd5-cd4958bb38a8.png)

[2019-10-12 14:19] pavelkuligin commented on #5
@iMomen Stacked bar chart couldn't work with negative values. Only bar chart with 1 category supports negative values:
![image](https://user-images.githubusercontent.com/27766810/66702828-cb0a0280-ecd9-11e9-96bf-9e0361bd7688.png)

[2019-10-14 12:07] iMomen commented on #5
Excellent, is there is any ability to change the negative values color?

[2019-10-14 12:21] pavelkuligin commented on #5
@iMomen for now you can do it only manually, it is a good feature — will add it to the backlog

[2019-12-04 01:40] SirWellington opened #51 "Bubble Charts missing?"
![image](https://user-images.githubusercontent.com/992646/70104750-de5b8f00-15f3-11ea-8428-6e4bb183755a.png)

How can I make a bubble chart? I can't see the option to make a Bubble chart anymore. How can I make it so that the dots generated vary in diameter?

[2019-12-13 15:51] pavelkuligin commented on #49
@jansemka issue fixed in Chart 5.4.0 for Sketch

[2019-12-13 15:51] #49 closed

[2019-12-13 15:52] pavelkuligin commented on #51
@SirWellington Hi! Option for Bubbles has been added in Chart 5.4.0 for Sketch

[2019-12-13 15:52] #51 closed

[2020-01-28 22:27] joernroeder opened #52 ""TypeError: undefined is not an object" on csv and table import"
I'm getting a `TypeError: undefined is not an object (evaluating 'Object.keys(a[0])')` after pasting my 3 column table from Numbers in the following function:

[code]

I am also unable to load the .csv file directly, the plugin hands at the pink spinner then.
Any suggestions what might be wrong? The csv is generated via https://www.npmjs.com/package/csv-writer

[2020-01-28 22:29] pavelkuligin commented on #52
Hi @joernroeder! Could you give me an example of table that you are trying to use and type of Chart?

[2020-01-29 19:10] joernroeder commented on #52
@pavelkuligin the chart type didnt matter. I was unable to a) upload (infinite loading) and b) paste the attached csv.

[test.txt](https://github.com/pavelkuligin/chart/files/4130200/test.txt) (I had to rename to `.txt` to upload it here)

[2020-01-30 00:06] pavelkuligin commented on #52
@joernroeder I've found a few issues, will fix them tomorrow and ship new release

[2020-01-30 23:16] pavelkuligin commented on #52
@joernroeder please update to Chart 5.4.5 and use this CSV: https://yadi.sk/d/xpaCKxTDkPECJw
(your example had empty row at the end so it was an issue)

Ping me if you have any questions/problems

[2020-02-03 12:01] joernroeder commented on #52
@pavelkuligin thanks for looking into this. Empty lines at a file are pretty common, especially if you work with code and editors https://unix.stackexchange.com/questions/18743/whats-the-point-in-adding-a-new-line-to-the-end-of-a-file

I've testet 5.4.5 today and still noticed that I have to convert integers e.g. `8` to floats `8.0` to work properly when importing the csv directly. as soon as my s

[2020-02-03 12:52] pavelkuligin commented on #52
@joernroeder yep, I'm working on removing empty rows from CSV files.

Issue with integers is pretty strange, I will test it today and get back with clarifications

[2020-02-04 19:50] pavelkuligin commented on #52
@joernroeder I did some test and it works well: https://www.loom.com/share/244035d1e33146e0a8ee75f17a20e991

Maybe you see the spin for a long time because Sketch's performance is low with large amount of data

[2020-03-04 06:30] FrankwenRJ opened #53 "Syncing JSON API will not work"
Hey,

Just got the trial version and everything looks awesome. When trying to connect our REST API from SQL DB, the Syncing process just goes on forever. Is this because I did not pay for the license or is this a problem elsewhere? Any support would be really appreciated. Thanks

REST API: http://www.rjclothing.cn/rojoipad/index.php/api/chart/product_sales

[2020-03-04 06:36] FrankwenRJ commented on #53
Sketch Version 61.2 (89653)
Mac OS 10.15.3
Mac OS 10.13.4

Both with same issue

[2020-03-04 12:14] pavelkuligin commented on #53
@FrankwenRJ  hey! Your API returns JSON in incompatible format. Read more here: https://pavel-kuligin.gitbook.io/chart/json-data

So your JSON should look like this:
[{"status":"103","statusmsg":"parameter error"}]

Instead of this:
{"status":"103","statusmsg":"parameter error"}

[2020-03-04 12:19] FrankwenRJ commented on #53
Hey man, okay got it, very clear. Will try to correct for that. Thanks a million for the quick reply, plugin is amazing and will use it to create full BI dashboard system. Cheers

[2020-03-04 13:03] pavelkuligin commented on #53
You are welcome! Join our Slack channel for faster support: https://join.slack.com/t/chart-plugin/shared_invite/enQtNDc0MTYzMTE5MzkzLTBiNDRjMTYzMTQ5NGYxMjg0MGY4ODJiZmJmNWRiNTc0YzhjOThmY2M2NmU0MTYwZTdhNzhmZGRhZjM2MzRkYzI

[2020-03-04 13:03] #53 closed

[2020-04-03 02:17] dcliftreaves opened #54 "[Feature Request] Continual Graph Update"
Ideally graph updating would be done quickly and performant-ly to allow for real time graph visualizations. But, before that is possible, is it possible to have a menu option to just update the graph every second until that option is de-selected?

[2020-04-03 12:27] pavelkuligin commented on #54
Hi David! Unfortunately, plugin in Sketch or Figma cannot work in background to run this task on some schedule.

[2020-04-03 12:27] #54 closed

[2020-04-03 14:34] dcliftreaves commented on #54
I understand that the constraints of the framework you are in do not allow for this behavior.

Can you create an automator task that does this for your customers to install in a simple way?

Example:
https://macmost.com/3-ways-to-automate-keystroke-sequences-on-your-mac.html

[2020-04-03 14:42] pavelkuligin commented on #54
The only way to resolve it is use current Update chart feature. I have a plan to introduce bulk update in case if you have more then one chart on the page. I plan to introduce it in this quarter.

[2020-04-04 19:33] dcliftreaves commented on #54
Ah the bulk update is required for my auto refresh idea via Automator to
work.

On Fri, Apr 3, 2020 at 9:42 AM Pavel Kuligin <notifications@github.com>
wrote:

[2020-04-04 20:43] pavelkuligin commented on #54
Hi @dcliftreaves can you join our Slack and ping me, so we can discuss your idea in more details: https://join.slack.com/t/chart-plugin/shared_invite/zt-61tsh8gx-C0TBYxSU8ShA~IK_v121dA

[2020-07-21 18:28] mg0716 opened #55 "Feature Request: 100% Stacked Area Charts"
Thanks for this wonderful tool.

I'm hoping that you might be able to add in a 100% Stacked Area Chart. While the regular area charts are great, in my case I'm really in need of the 100% version to be able to visualize market share of something.

Any chance of this happening?

[2020-09-21 12:59] michalpokojski opened #56 "Chart gradient colors"
Is it possible to customize this plugin this way?

[2020-11-06 12:38] AlexandraIlla opened #58 "Chart addition"
Hello! Could be possible to add a spider graphic?
like this:
<img width="806" alt="Captura de Pantalla 2020-11-06 a les 13 38 00" src="https://user-images.githubusercontent.com/72075463/98367086-523cbd80-2035-11eb-8365-d9c3f0dc3425.png">

[2021-01-20 12:04] andrewtsuei opened #59 "Crashed on Macbook Pro M1"
Crashed on Sketch 70.3 with Macbook Pro M1

[2021-01-20 13:09] pavelkuligin commented on #59
Hey @andrewtsuei! It is known issue, but we cannot fix it on our side because problem in the one of main component that provided by Sketch dev team. We have two workarounds at this moment: https://support.invisionapp.com/hc/en-us/community/posts/360074793811-Craft-Sketch-plugin-not-working-on-new-Apple-Silicon-M1-

Sorry about that...

[2021-01-26 12:17] EmilyRyan opened #60 "Data with negative values in a scatterplot"
I tried to create a scatterplot by copying data from a spreadsheet where some cells have negative values and the plugin thinks but does nothing. I think it just isn't possible at the moment. Could the feature to allow negative values be added?

I have Sketch Version 61.2

[2021-01-26 13:13] #60 closed

[2021-01-26 13:13] EmilyRyan commented on #60
Solved by adding fake range data that I then removed.

[2021-09-07 00:22] seobaby opened #61 "No response when using"
No response when using and can't update version 4.3
- Bundle Identifier: com.bohemiancoding.sketch3
- Build Version: 72.4
- Build Number: 124482
- OS Version: 11.5.2
- CPU Type: X86
- Rosetta: No

[2021-09-08 14:35] pavelkuligin commented on #61
Hello @seobaby ! Please use the latest version of Chart plugin: https://chartplugin.com/

[2021-11-12 08:12] neoighodaro opened #62 "Does not work in the latest sketch"
I get this error when i try to generate a chart with random data and default values:

```TypeError: element.childNodes[j].setAttribute is not a function. (In 'element.childNodes[j].setAttribute('DragObj', cDrag)', 'element.childNodes[j].setAttribute' is undefined)```

Device: Mac M1 Pro 14"
Sketch: Version 79.1 (133344)
Plugin list:
<img width="245" alt="Screenshot 2021-11-12 at 09 12 15" src="htt

[2021-12-07 03:34] FrankFlitton commented on #62
I also see the error. It hangs on the drawing screen.

[code]

This also happened with tabular as well as random data.

Device: 2019 Intel Core i9 16"
Sketch: Version 73.1 (127209) as well as latest 80.1
Plugin list:
![image](https://user-images.githubusercontent.com/8129392/144961388-e54bbce9-3a66-4c5e-9f08-5c9e28917547.png)

[2021-12-07 03:39] FrankFlitton commented on #62
Update: It seems to work with the area chart but not line chart.

[2021-12-08 03:57] pavelkuligin commented on #62
Hey @FrankFlitton and @neoighodaro please download the updated version 5.6.6 from official website: https://chartplugin.com/. The issue should be fixed

[2021-12-08 03:57] #62 closed

[2021-12-08 03:58] #61 closed

[2021-12-08 03:58] #59 closed

[2021-12-08 04:17] FrankFlitton commented on #62
Awesome, thanks!

![image](https://user-images.githubusercontent.com/8129392/145147423-7d26ba51-3d28-4901-81f1-e753cf26504c.png)

[2022-05-11 20:26] jlunardini opened #63 "Create Chart Button Does Not Work"
Clean install of the plugin
Sketch 87.1

Click Plugins -> "Create Chart" -> Rectangle is created, using random data I can see the preview but when I click create chart nothing happens.

[2022-05-11 20:28] jlunardini commented on #63
<img width="1252" alt="Screen Shot 2022-05-11 at 4 27 56 PM" src="https://user-images.githubusercontent.com/48002540/167941915-83d5ed24-9edb-4736-95d0-ca363f01300a.png">

[2022-05-11 20:29] jlunardini commented on #63
seems to only happen with the Bar charts, Pie charts work just fine

[2022-05-12 05:13] pavelkuligin commented on #63
Hey @jlunardini ! Could you please ping me with your email account to check the issue? You can find me in Slack (https://join.slack.com/t/chart-plugin/shared_invite/zt-61tsh8gx-C0TBYxSU8ShA~IK_v121dA) or email me on hello@chartplugin.com